/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * KompromatEP implementation : © Evan Pulgino <evan.pulgino@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * kompromatep.css
 *
 * KompromatEP stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (kompromatep_kompromatep.tpl), and to HTML elements you create dynamically
    (in kompromatep.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

/***** GLOBAL STYLING *****/

html {
    background-image:url('img/komp_background.png');
}

#page-title, div.player-board {
    background-color: #ffffff !important;
    border-radius: 8px !important;
    border-color: #000000 !important;
    border-style: dashed;
    border-width: 3px;
}

/***** GENERIC STYLING *****/

.komp-clickable {
    cursor: pointer;
}

.komp-highlight {
    border: 3px solid orangered;
    border-radius: 10px;
    border-style: dashed;
}

.komp-rotate-left {
    transform: rotate(-90deg);
}

.komp-rotate-right {
    transform: rotate(90deg);
}


/***** GAME LAYOUT *****/

#komp_layout {
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

.komp-player-area {
    width: auto;
    height: auto;
    border-radius: 15px !important;
    border-color: #000000 !important;
    border-style: dashed;
    border-width: 5px;
}

.komp-player-deck {
    width: 50%;
    margin: 0 auto;
}

#komp_mission_area {
    width: auto;
    height: auto;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

.komp-mission-column {
    order: 2;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.komp-mission-column-element {
    height: 210px !important;
}

.komp-column-slot {
    position: relative;
    width: 250px;
    height: 210px;
}

.komp-mission-column-card {
    position: absolute;
    top: 0;
}

.komp-counterintel-slot {
    left: 75px;
}

.komp-mission-slot {
    left: 52px;
    width: 135px;
}

/***** CARDS *****/
.komp-card {
    display: inline-block;
    position: relative;
    width: 135px;
    height: 205.2px;
    border-radius: 10px;
    background-image: url('img/komp_cards.png');
    box-shadow: 1px 1px 1px 0 #000000a0;
}

.komp-stack {
    position: absolute !important;
    z-index: -1;
}

.komp-card-on-deck {
    position: absolute !important;
    z-index: -1;
    bottom: 5%;
}

.komp-card-yellow-ace {
    background-position: 0 0;
}

.komp-card-yellow-ten {
    background-position: 11.11% 0;
}

.komp-card-yellow-nine {
    background-position: 22.22% 0;
}

.komp-card-yellow-eight {
    background-position: 33.33% 0;
}

.komp-card-yellow-three {
    background-position: 44.44% 0;
}

.komp-card-blue-seven {
    background-position: 55.55% 0;
}

.komp-card-blue-four {
    background-position: 66.66% 0;
}

.komp-card-balaclava {
    background-position: 77.77% 0;
}

.komp-card-locker {
    background-position: 88.88% 0;
}

.komp-card-yellow-back {
    background-position: 100% 0;
}

.komp-card-yellow-seven {
    background-position: 0 25%;
}

.komp-card-yellow-six {
    background-position: 11.11% 25%;
}

.komp-card-yellow-five {
    background-position: 22.22% 25%;
}

.komp-card-yellow-four {
    background-position: 33.33% 25%;
}

.komp-card-yellow-two {
    background-position: 44.44% 25%;
}

.komp-card-blue-six {
    background-position: 55.55% 25%;
}

.komp-card-blue-three {
    background-position: 66.66% 25%;
}

.komp-card-jetpack {
    background-position: 77.77% 25%;
}

.komp-card-interrogation {
    background-position: 88.88% 25%;
}

.komp-card-blue-back {
    background-position: 100% 25%;
}

.komp-card-yellow-half {
    background-position: 0 50%;
}

.komp-card-blue-ace {
    background-position: 11.11% 50%;
}

.komp-card-blue-ten {
    background-position: 22.22% 50%;
}

.komp-card-blue-nine {
    background-position: 33.33% 50%;
}

.komp-card-blue-eight {
    background-position: 44.44% 50%;
}

.komp-card-blue-five {
    background-position: 55.55% 50%;
}

.komp-card-blue-two {
    background-position: 66.66% 50%;
}

.komp-card-gps-tracker {
    background-position: 77.77% 50%;
}

.komp-card-pursuit {
    background-position: 88.88% 50%;
}

.komp-card-mission-back {
    background-position: 100% 50%;
}

.komp-card-blue-half {
    background-position: 0 75%;
}

.komp-card-code {
    background-position: 11.11% 75%;
}

.komp-card-document {
    background-position: 22.22% 75%;
}

.komp-card-counterintelligence-three {
    background-position: 33.33% 75%;
}

.komp-card-counterintelligence-two {
    background-position: 44.44% 75%;
}

.komp-card-counterintelligence-one {
    background-position: 55.55% 75%;
}

.komp-card-newspaper {
    background-position: 66.66% 75%;
}

.komp-card-chloroform {
    background-position: 77.77% 75%;
}

.komp-card-safe-house {
    background-position: 88.88% 75%;
}

.komp-card-stun-gun {
    background-position: 0 100%;
}

.komp-card-drone {
    background-position: 11.11% 100%;
}

.komp-card-usb-stick {
    background-position: 22.22% 100%;
}

.komp-card-vesper-martini {
    background-position: 33.33% 100%;
}

.komp-card-night-vision {
    background-position: 44.44% 100%;
}

.komp-card-hotel {
    background-position: 55.55% 100%;
}

.komp-card-barmaid {
    background-position: 66.66% 100%;
}

.komp-card-airport {
    background-position: 77.77% 100%;
}

.komp-card-informant {
    background-position: 88.88% 100%;
}